
*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important;
    max-width: 100%;
}
@font-face{
    font-family: quickSand;
    /* src: url(/fonts/Quicksand-Medium.ttf); */
    src: url(https://theantiquisnetwork.com/web_test/fonts/Quicksand-Medium.ttf);
    
}
.header{
    display: grid;
    grid-template-columns:  1fr;
    /* grid-template-rows: 1fr; */
    /* this is the heigh of the rows and will fit the conent at 100% */
    grid-auto-rows: 350px;
}

#nav{
    background: #f9eeee;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(7, 1fr);
    display: grid;
}

.logo{
    background: #f9eeee;
    grid-column-start: 3;
    grid-column-end:6;
    grid-row-start: 1;
    grid-row-end: 7;  
}
.menue{
    background:#f9eeee;
    grid-column-start: 2;
    grid-column-end:7;
    grid-row-end: 8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.menue > li{
    list-style-type: none;
    text-align: center;
    font-family:quickSand;
    font-size: 1.5em;
    font-weight: bold;

    
    
    

}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}