<!DOCTYPE html>
<html>
<head>
<title>sign up</title>
</head>
<body>
<h1>Sign Up</h1>
<div>

    <form action="/web_test/php/signUp.php" method="POST">
         Username   
        <input type="text" name="username" required="required">
        <br>First Name
        <input type="text" name="fName" required="required">
        <br>Last Name
        <input type="text" name="lName" required="required">
        <br>E-mail Address
        <input type="text" name="email" required="required">
        <br>Password
        <input type="password" name="password" required="required">
        <br>Confirm your Password
        <input type="password" name="cpassword" required="required">
        <br>
        <input type="submit" value="Register">

        <!-- <select name="industry">
            <option value="food">Food</option>
            <option value=""></option>
        </select> -->

    </form>

</div>

</body>
</html>